#-----------------------------------------------------------------------------
# See:
#   Syntax validator: https://ci.appveyor.com/tools/validate-yaml
#
#   MSYS2 build environment and example:
#       http://www.msys2.org/
#       https://project-renard.github.io/doc/development/meeting-log/posts/2016/05/03/windows-build-with-msys2/
#
#   MSYS2 packages available, in a suitable MSYS window.
#       pacman -list
#-----------------------------------------------------------------------------

# Simple versioning scheme.
version: '{build}'

# Check compilation both on 32 and 64 bit platforms.
platform:
    - x64
    - x86

# MSVC2015 image have many stuff we need.
image: Visual Studio 2015

# Run AppVeyor only on the windows branch, until we are merged to trunk
branches:
    only:
        - windows

# Stops on first failing matrix combination
matrix:
  fast_finish: true

install:
    # ===== Setting Visual 2015 env
    - SET VSINSTALLDIR=C:\Program Files (x86)\Microsoft Visual Studio 14.0\
    - SET VCINSTALLDIR=C:\Program Files (x86)\Microsoft Visual Studio 14.0\VC\

    # ==== Use Windows SDK 10.0
    - SET SDK=C:\Program Files (x86)\Windows Kits\10\

    # ==== Windows 10 Anniversary Release:
    - SET SDK_VERSION=10.0.14393.0
    - if NOT EXIST "%SDK%Lib\%SDK_VERSION%\um\x64" (
        echo "Microsoft SDK %SDK%Lib\%SDK_VERSION% is missing." 1>&2
        exit /B 100
      )

    # ==== Set needed env vars
    - set SDK_LIB=%SDK%Lib\%SDK_VERSION%\
    - set SDK_INCLUDE=%SDK%Include\%SDK_VERSION%\
    - set PATH=%SDK%Bin\x64;%PATH%
    - set INCLUDE=%SDK_INCLUDE%um;%SDK_INCLUDE%shared;%SDK_INCLUDE%ucrt;%INCLUDE%
    - set LIB=%SDK_LIB%um\x64;%SDK_LIB%ucrt\x64;%LIB%
    - set LIBPATH=%SDK_LIB%um\x64;%SDK_LIB%ucrt\x64;%LIBPATH%
    -
    - set PATH=%VCINSTALLDIR%BIN\x86_amd64;%VCINSTALLDIR%BIN;%VCINSTALLDIR%VCPackages;%VSINSTALLDIR%Common7\IDE;%VSINSTALLDIR%Common7\Tools;%VSINSTALLDIR%Common7\Tools\bin;%PATH%
    - set INCLUDE=%VCINSTALLDIR%include;%VCINSTALLDIR%ATLMFC\INCLUDE;%INCLUDE%
    - set LIB=%VCINSTALLDIR%LIB\amd64;%VCINSTALLDIR%ATLMFC\LIB\amd64;%LIB%
    - set LIBPATH=%VCINSTALLDIR%LIB\amd64;%LIBPATH%

    # Have MSYS2 in path
    - set PATH=C:\MSYS64\usr\bin;%PATH%

    # Misc.
    - set CC_FOR_BUILD=cl.exe
    - set LC_ALL=C

    # Install needed packages from MSYS2
    - pacman -S --needed --noconfirm autoconf make perl

    # Print environment details
    - bash config.guess

build_script:
    - bash autogen.sh
    - bash configure
    - make

test_script:
    - make test
