# Check compilation both on 32 and 64 bit platforms
platform:
    - x86
    - x64

# Try compilation with the three current compilers available
image:
    - Visual Studio 2013
    - Visual Studio 2015
    - Visual Studio 2017

# Run AppVeyor only on the windows branch, until we are merged to trunk
branches:
    only:
        - windows

environment:
  global:
    # SDK v7.0 MSVC Express 2008's SetEnv.cmd script will fail if the
    # /E:ON and /V:ON options are not enabled in the batch script intepreter
    # See: http://stackoverflow.com/a/13751649/163740
    WITH_COMPILER: "cmd /E:ON /V:ON /C .\\appveyor\\run_with_compiler.cmd"

build_script:
    - $WITH_COMPILER qmake ccache.pro
    - $WITH_COMPILER nmake

test_script:
    - WITH_COMPILER nmake test
