root = true

[*]
end_of_line = lf
insert_final_newline = true
charset = utf-8

[*.{c,cpp,h,hpp}]
indent_style = space
indent_size = 2

[*.{bash,py,sh}]
indent_style = space
indent_size = 4

[Makefile]
indent_style = tab
