*.a
*.exe
*.html
*.o
*.xml
*~
.deps
Makefile
autom4te.cache
ccache
ccache-*.tar.*
config.cache
config.h
config.h.in
config.log
config.status
configure
dev.mk
dev_mode_disabled
doc/ccache.1
perfdir.*
src/version.c
testdir.*
unittest/run
unittest/suites.h
