*.a
*.ccache-*
*.exe
*.html
*.o
*.xml
*~
.DS_Store
.deps
ccache-*.tar.*
perfdir.*
testdir.*

# Version is generated into src, because it should be included into src packages
/src/Version.cpp

# Typical build directories
/build*

# Visual Studio
/.vs/

# Visual Studio Code
/.vscode/
