Anders F Björklund <anders.f.bjorklund@gmail.com>
Anders F Björklund <anders.f.bjorklund@gmail.com> <anders@itension.se>
Anders F Björklund <anders.f.bjorklund@gmail.com> <anders@psqr.se>
Andrew Boie <andrew.p.boie@intel.com>
Arne Hasselbring <arne.hasselbring@googlemail.com>
Bernhard Bauer <bauerb@chromium.org> <bauerb@google.com>
Bin Li <bin.li@windriver.com>
Chiaki Ishikawa <ishikawa@yk.rim.or.jp>
Clemens Rabe <clemens.rabe@gmail.com> <clemens.rabe@clemensrabe.de>
Clemens Rabe <clemens.rabe@gmail.com> <crabe@gmx.de>
Doug Anderson <dianders@disordat.com>
Dávid Péter Jánosa <jdavidpeter@gmail.com>
Erik Flodin <erik@ejohansson.se>
Florin Trofin <florint@gmail.com>
Hongli Lai <hongli@phusion.nl>
Huang Qin Jin <huangqinjin@gmail.com>
Icarus Sparry <98788394+amd-isparry@users.noreply.github.com>
Jacob Young <jacobly0@users.noreply.github.com>
Jonathan Neuschäfer <j.neuschaefer@gmx.net>
Jonny Yu <yingshen.yu@gmail.com>
Ka Ho Ng <khng300@gmail.com>
Kona Blend <kona8lend@gmail.com>
Leander Schulten <41973254+autoantwort@users.noreply.github.com>
Leanid Chaika <leanid.chaika@gmail.com>
Louis Caron <caron_louis@yahoo.fr>
Luboš Luňák <l.lunak@centrum.cz> <l.lunak@suse.cz>
Martin Ettl <ettl.martin78@gmail.com>
Mizuha Himuraki <mocha.java.cchip@gmail.com>
Oded Shimon <oded@istraresearch.com>
Oleg Sidorkin <olegsidorkin@users.noreply.github.com>
Paul Bunch <paulbunc@gmail.com>
Pawel Krysiak <pawel_krysiak@interia.pl>
Per Nordlöw <per.nordlow@autoliv.com>
Peter Budai <peterbudai@hotmail.com>
Ramiro Polla <ramiro.polla@gmail.com>
Ramiro Polla <ramiro.polla@gmail.com> <ramiro@mac-vbox-ubuntu910.(none)>
Romain Geissler <romain.geissler@amadeus.com>
Ryan Brown <ryb@ableton.com>
Ryan Burns <52847440+r-burns@users.noreply.github.com>
Thomas Otto <39962140+totph@users.noreply.github.com>
Thomas Röfer <Thomas.Roefer@dfki.de>
Tor Arne Vestbø <tor.arne.vestbo@qt.io> <torarnv@gmail.com>
Vili Väinölä <vilivainola@gmail.com>
Ville Skyttä <ville.skytta@iki.fi>
Xavier René-Corail <xavier.renecorail@gmail.com>
