Anders F Björklund <anders.f.bjorklund@gmail.com>
Anders F Björklund <anders.f.bjorklund@gmail.com> <anders@itension.se>
Anders F Björklund <anders.f.bjorklund@gmail.com> <anders@psqr.se>
Andrej Zhilenkov <azhilenkov@gmail.com>
Andrew Boie <andrew.p.boie@intel.com>
Arne Hasselbring <arne.hasselbring@googlemail.com>
Bernhard Bauer <bauerb@chromium.org> <bauerb@google.com>
Bin Li <bin.li@windriver.com>
Chiaki Ishikawa <ishikawa@yk.rim.or.jp>
Clemens Rabe <clemens.rabe@gmail.com> <clemens.rabe@clemensrabe.de>
Clemens Rabe <clemens.rabe@gmail.com> <crabe@gmx.de>
Doug Anderson <dianders@disordat.com>
Dávid Péter Jánosa <jdavidpeter@gmail.com>
Erik Flodin <erik@ejohansson.se>
Florin Trofin <florint@gmail.com>
GitHub user 6d5CfLQ3dYAb <6d5CfLQ3dYAb@users.noreply.github.com>
GitHub user bengtj <2410396+bengtj@users.noreply.github.com>
GitHub user cupu <cupu@users.noreply.github.com>
GitHub user DarkShadow44 <dark.shadow4@web.de>
GitHub user Delgan <4193924+Delgan@users.noreply.github.com>
GitHub user Desour <ds.desour@proton.me>
GitHub user Doekin <105162544+Doekin@users.noreply.github.com>
GitHub user dsilakov <dsilakov@gmail.com>
GitHub user dsrowell <dsrowell@gmail.com>
GitHub user gitmodimo <g.modimo@gmail.com>
GitHub user kingiler <68145845+kingiler@users.noreply.github.com>
GitHub user Kreijstal <rainb@tfwno.gf>
GitHub user kzlar <120426485+kzlar@users.noreply.github.com>
GitHub user LinuxUserGD <linuxusergd@outlook.com>
GitHub user luzpaz <luzpaz@users.noreply.github.com>
GitHub user markyang92 <80628866+markyang92@users.noreply.github.com>
GitHub user Mikhail B <55960560+mbel0@users.noreply.github.com>
GitHub user Moritz <52993648+moha-gh@users.noreply.github.com>
GitHub user R43Qi8krC <w169q169@gmail.com>
GitHub user RedNicStone <nic@struktur.de>
GitHub user subotac <73706465+subotac@users.noreply.github.com>
GitHub user ThisIsFineTM <184989147+ThisIsFineTM@users.noreply.github.com>
GitHub user trustytrojan <87675609+trustytrojan@users.noreply.github.com>
GitHub user vsplesk <edi@gmx.net>
GitHub user w169q169 <w169q169@gmail.com>
GitHub user zcfh <1412805291@qq.com>
Hongli Lai <hongli@phusion.nl>
Huang Qin Jin <huangqinjin@gmail.com>
Icarus Sparry <98788394+amd-isparry@users.noreply.github.com>
Jacob Young <jacobly0@users.noreply.github.com>
Jonathan Neuschäfer <j.neuschaefer@gmx.net>
Jonny Yu <yingshen.yu@gmail.com>
Ka Ho Ng <khng300@gmail.com>
Keith Buck <104043214+rblx-kbuck@users.noreply.github.com>
Kona Blend <kona8lend@gmail.com>
Leander Schulten <41973254+autoantwort@users.noreply.github.com>
Leanid Chaika <leanid.chaika@gmail.com>
Louis Caron <caron_louis@yahoo.fr>
Luboš Luňák <l.lunak@centrum.cz> <l.lunak@suse.cz>
Martin Ettl <ettl.martin78@gmail.com>
Mizuha Himuraki <mocha.java.cchip@gmail.com>
Oded Shimon <oded@istraresearch.com>
Oleg Sidorkin <olegsidorkin@users.noreply.github.com>
Paul Bunch <paulbunc@gmail.com>
Pawel Krysiak <pawel_krysiak@interia.pl>
Per Nordlöw <per.nordlow@autoliv.com>
Peter Budai <peterbudai@hotmail.com>
Ramiro Polla <ramiro.polla@gmail.com>
Ramiro Polla <ramiro.polla@gmail.com> <ramiro@mac-vbox-ubuntu910.(none)>
Romain Geissler <romain.geissler@amadeus.com>
RW <fbsd06@mlists.homeunix.com>
Ryan Brown <ryb@ableton.com>
Ryan Burns <52847440+r-burns@users.noreply.github.com>
Steffen Winter <steffen.winter@proton.me>
Thomas Otto <39962140+totph@users.noreply.github.com>
Thomas Röfer <Thomas.Roefer@dfki.de>
Tor Arne Vestbø <tor.arne.vestbo@qt.io> <torarnv@gmail.com>
Vili Väinölä <vilivainola@gmail.com>
Ville Skyttä <ville.skytta@iki.fi>
Xavier René-Corail <xavier.renecorail@gmail.com>
