Anders F Björklund <anders.f.bjorklund@gmail.com>
Anders F Björklund <anders.f.bjorklund@gmail.com> <anders@itension.se>
Anders F Björklund <anders.f.bjorklund@gmail.com> <anders@psqr.se>
Andrew P Boie <andrew.p.boie@intel.com>
Bernhard Bauer <bauerb@chromium.org> <bauerb@google.com>
Chiaki Ishikawa <ishikawa@yk.rim.or.jp>
Clemens Rabe <clemens.rabe@gmail.com> <clemens.rabe@clemensrabe.de>
Clemens Rabe <clemens.rabe@gmail.com> <crabe@gmx.de>
Hongli Lai <hongli@phusion.nl>
Kona Blend <kona8lend@gmail.com>
Leanid Chaika <leanid.chaika@gmail.com>
Luboš Luňák <l.lunak@centrum.cz> <l.lunak@suse.cz>
Martin Ettl <ettl.martin78@gmail.com>
Per Nordlöw <per.nordlow@autoliv.com>
Peter Budai <peterbudai@hotmail.com>
Ramiro Polla <ramiro.polla@gmail.com>
Ramiro Polla <ramiro.polla@gmail.com> <ramiro@mac-vbox-ubuntu910.(none)>
Ryan Brown <ryb@ableton.com>
Thomas Röfer <Thomas.Roefer@dfki.de>
Tor Arne Vestbø <tor.arne.vestbo@qt.io> <torarnv@gmail.com>
Ville Skyttä <ville.skytta@iki.fi>
Xavier René-Corail <xavier.renecorail@gmail.com>
