language: c

addons:
    apt:
        packages:
            - gperf
            - elfutils
            - zlib1g-dev
            - libmemcached-dev
            - memcached
            - mingw32
            - mingw32-binutils
            - clang    # scan-build
            - lib32z1-dev

os:
    - linux
    - osx

compiler:
    - gcc
    - clang

matrix:
    include:
        - os: linux
          compiler: gcc
          sudo: required
          dist: trusty
          env: FEATURES="--enable-memcached"
        - os: linux
          compiler: gcc
          env: CFLAGS="-m32 -g -O2" HOST="--host=i386-linux-gnu"
          addons:
              apt:
                  packages:
                      - gcc-multilib
        - os: linux
          compiler: i686-w64-mingw32-gcc
          env: HOST="--host=i686-w64-mingw32" TEST="unittest/run.exe"
          addons:
              apt:
                  packages:
                      - gcc-mingw-w64-i686
        - os: linux
          compiler: clang
          env: CFLAGS="-fsanitize=undefined" ASAN_OPTIONS="detect_leaks=0"
        - os: linux
          compiler: clang
          env: CFLAGS="-fsanitize=address -g" ASAN_OPTIONS="detect_leaks=0"
        - os: linux
          compiler: clang
          env: PATH="/usr/bin:$PATH" TEST=analyze
          addons:
              apt:
                  packages:
                      - clang    # scan-build
        - os: linux
          compiler: gcc
          env: CUDA=8.0.61-1
          sudo: required
          before_install:
              - source ./.travis/install_cuda.sh

    exclude:
        - os: osx
          compiler: gcc

script:
    - ./autogen.sh
    - ./configure $HOST $FEATURES
    - make
    - make ${TEST:-test}
