name: Build
on:
  push:
  pull_request:

jobs:
  # These test the standard build on several systems with GCC + Clang.
  standard_tests:
    name: ${{ matrix.os }} & ${{ matrix.compiler.CC }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-16.04, ubuntu-18.04, ubuntu-20.04, macos-10.15]
        compiler:
          - CC: gcc
            CXX: g++
          - CC: clang
            CXX: clang++

    steps:
      - name: Get source
        uses: actions/checkout@v2

      - name: Install dependencies (Ubuntu 16 & 18)
        if: startsWith(matrix.os, 'ubuntu') && matrix.os != 'ubuntu-20.04'
        run: sudo apt-get install elfutils libzstd1-dev

      - name: Install dependencies (Ubuntu 20)
        if: matrix.os == 'ubuntu-20.04'
        run: sudo apt-get install elfutils libzstd-dev

      - name: Build and test
        run: ci/build
        env:
          CC: ${{ matrix.compiler.CC }}
          CMAKE_PARAMS: -DCMAKE_BUILD_TYPE=CI
          CTEST_OUTPUT_ON_FAILURE: ON
          CXX: ${{ matrix.compiler.CXX }}
          ENABLE_CACHE_CLEANUP_TESTS: true
          VERBOSE: 1

      - name: Collect testdir from failed tests
        if: failure()
        run: ci/collect-testdir

      - name: Upload testdir from failed tests
        if: failure()
        uses: actions/upload-artifact@v2
        with:
          name: ${{ matrix.os }} - ${{ matrix.compiler.CC }} - testdir.tar.xz
          path: testdir.tar.xz

  specific_tests:
    name: ${{ matrix.config.name }}
    runs-on: ${{ matrix.config.os }}
    strategy:
      fail-fast: false
      matrix:
        config:
          - name: Linux GCC debug + in source + tracing
            os: ubuntu-18.04
            CC: gcc
            CXX: g++
            ENABLE_CACHE_CLEANUP_TESTS: 1
            BUILDDIR: .
            CCACHE_LOC: .
            CMAKE_PARAMS: -DCMAKE_BUILD_TYPE=Debug -DENABLE_TRACING=1
            apt_get: elfutils libzstd1-dev

          - name: Linux GCC 32-bit
            os: ubuntu-18.04
            CC: gcc
            CXX: g++
            CFLAGS: -m32 -g -O2
            CXXFLAGS: -m32 -g -O2
            LDFLAGS: -m32
            CMAKE_PARAMS: -DCMAKE_BUILD_TYPE=CI -DZSTD_FROM_INTERNET=ON
            ENABLE_CACHE_CLEANUP_TESTS: 1
            apt_get: elfutils gcc-multilib g++-multilib lib32stdc++-5-dev

          - name: Linux GCC CUDA
            os: ubuntu-18.04
            CC: gcc
            CXX: g++
            CMAKE_PARAMS: -DCMAKE_BUILD_TYPE=CI -DZSTD_FROM_INTERNET=ON
            ENABLE_CACHE_CLEANUP_TESTS: 1
            CUDA: 10.1.243-1
            apt_get: elfutils libzstd1-dev

          - name: Linux MinGW 32-bit
            os: ubuntu-18.04
            CC: i686-w64-mingw32-gcc-posix
            CXX: i686-w64-mingw32-g++-posix
            CMAKE_PARAMS: -DCMAKE_BUILD_TYPE=CI -DCMAKE_SYSTEM_NAME=Windows -DZSTD_FROM_INTERNET=ON
            RUN_TESTS: 0
            apt_get: elfutils mingw-w64

          - name: Linux MinGW 64-bit
            os: ubuntu-20.04
            CC: x86_64-w64-mingw32-gcc-posix
            CXX: x86_64-w64-mingw32-g++-posix
            ENABLE_CACHE_CLEANUP_TESTS: 1
            CMAKE_PARAMS: -DCMAKE_BUILD_TYPE=CI -DCMAKE_SYSTEM_NAME=Windows -DZSTD_FROM_INTERNET=ON
            RUN_TESTS: 0
            apt_get: elfutils mingw-w64

          - name: Clang address & UB sanitizer
            os: ubuntu-20.04
            CC: clang
            CXX: clang++
            ENABLE_CACHE_CLEANUP_TESTS: 1
            CMAKE_PARAMS: -DCMAKE_BUILD_TYPE=CI -DENABLE_SANITIZER_ADDRESS=ON -DENABLE_SANITIZER_UNDEFINED_BEHAVIOR=ON
            ASAN_OPTIONS: detect_leaks=0
            apt_get: elfutils libzstd-dev

          - name: Clang static analyzer
            os: ubuntu-20.04
            CC: clang
            CXX: clang++
            ENABLE_CACHE_CLEANUP_TESTS: 1
            CMAKE_PREFIX: scan-build
            RUN_TESTS: 0
            path: /usr/bin
            apt_get: libzstd-dev

          - name: Linux binary
            os: ubuntu-20.04
            CC: gcc
            CXX: g++
            SPECIAL: build-and-verify-package
            CMAKE_PARAMS: -DCMAKE_BUILD_TYPE=Release
            apt_get: elfutils libzstd-dev ninja-build

          - name: Source package
            os: ubuntu-20.04
            CC: gcc
            CXX: g++
            SPECIAL: build-and-verify-source-package
            apt_get: elfutils libzstd-dev ninja-build asciidoc xsltproc

          - name: HTML documentation
            os: ubuntu-18.04
            EXTRA_CMAKE_BUILD_FLAGS: --target doc-html
            RUN_TESTS: 0
            apt_get: libzstd1-dev asciidoc

          - name: Manual page
            os: ubuntu-18.04
            EXTRA_CMAKE_BUILD_FLAGS: --target doc-man-page
            RUN_TESTS: 0
            apt_get: libzstd1-dev asciidoc xsltproc

          - name: Clang-Tidy
            os: ubuntu-18.04
            CC: clang
            CXX: clang++
            RUN_TESTS: 0
            CMAKE_PARAMS: -DENABLE_CLANG_TIDY=ON
            apt_get: libzstd-dev clang-tidy

    steps:
      - name: Get source
        uses: actions/checkout@v2

      - name: Install CUDA
        if: matrix.config.CUDA != ''
        run: sudo --preserve-env=CUDA ci/install-cuda
        env:
          CUDA: ${{ matrix.config.CUDA }}

      - name: Run apt-get
        if: matrix.config.apt_get != ''
        run: sudo apt-get install ${{ matrix.config.apt_get }}

      - name: Prefix PATH
        if: matrix.config.path != ''
        run: echo "::add-path::${{ matrix.config.path }}"

      - name: Build and test
        env:
          ASAN_OPTIONS: ${{ matrix.config.ASAN_OPTIONS }}
          BUILDDIR: ${{ matrix.config.BUILDDIR }}
          CC: ${{ matrix.config.CC }}
          CCACHE_LOC: ${{ matrix.config.CCACHE_LOC }}
          CFLAGS: ${{ matrix.config.CFLAGS }}
          CMAKE_PARAMS: ${{ matrix.config.CMAKE_PARAMS }}
          CTEST_OUTPUT_ON_FAILURE: ON
          CXX: ${{ matrix.config.CXX }}
          CXXFLAGS: ${{ matrix.config.CXXFLAGS }}
          ENABLE_CACHE_CLEANUP_TESTS: ${{ matrix.config.ENABLE_CACHE_CLEANUP_TESTS }}
          EXTRA_CMAKE_BUILD_FLAGS: ${{ matrix.config.EXTRA_CMAKE_BUILD_FLAGS }}
          LDFLAGS: ${{ matrix.config.LDFLAGS }}
          RUN_TESTS: ${{ matrix.config.RUN_TESTS }}
          SPECIAL: ${{ matrix.config.SPECIAL }}
          VERBOSE: 1
        run: ci/build

      - name: Collect testdir from failed tests
        if: failure()
        run: ci/collect-testdir
        # TODO: in case of build-and-verify-*package the BUILDDIR is set within those scripts.

      - name: Upload testdir from failed tests
        if: failure()
        uses: actions/upload-artifact@v2
        with:
          name: ${{ matrix.config.name }} - testdir.tar.xz
          path: testdir.tar.xz

  check_format:
    name: Code formatting
    runs-on: ubuntu-20.04
    strategy:
      fail-fast: false
    steps:
      - name: Get source
        uses: actions/checkout@v2

      - name: Run Clang-Format in check mode
        run: misc/format-files --all --check
        env:
          VERBOSE: 1
